/*
    이롭게 바탕체
    https://www.iropke.com/archive/iropke-batang-css.html
*/
@import url('font-iropke-batang.css');

html {
    font-size: 1.1em;
}

body {
    font-family: Georgia, 'Iropke Batang';
    font-weight: 400;
}

p {
    line-height: 1.9em;
}

li {
    line-height: 1.8em;
}

ul.links li a.docs {
    font-size: 1.3em;
}

iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
}

svg {
    max-width: 100%;
}

pre {
    padding: 0.5em 1.0em;
}

@media only screen and (max-width: 768px) {
    div#site {
        padding: 0; 
    }
}

@media only screen and (max-width: 480px) {
    div#site {
        padding: 0; 
    }
}
