/*
    이롭게 바탕체
    https://www.iropke.com/archive/iropke-batang-css.html
*/
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

body {
    font-family: 'Iropke Batang', serif;
}

p {
    line-height: 1.9em;
}

li {
    line-height: 1.8em;
}

@media only screen and (max-width: 768px) {
    div#site {
        padding: 0; 
    }
}

@media only screen and (max-width: 320px) {
    div#site {
        padding: 0; 
    }
}
